.sidebar {
  padding: 25px 0 0 15px;
  border-right: 1px solid var(--mat-sys-surface-variant);
  border-radius: 0;
  box-sizing: border-box;
}

.content-container {
  /* Ensure to be compatible and use dvh for mobile devices */
  min-height: 100vh;
  min-height: 100dvh;
  box-sizing: border-box;
  padding: 25px;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 60px;
}
