<!--
<header>
  <app-header></app-header>
</header>
-->

<mat-sidenav-container autosize>
  <mat-sidenav mode="side"  class="sidebar" [opened]="isExpanded" [class]="isExpanded ? 'expanded' : 'collapsed'">
    <!-- Sidenav content -->
    <app-sidebar (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left.px]="!isExpanded ? 60 : 250">
    <!-- Main content -->
    <div class="content-container">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
