header {
  height: 64px;
  width: 100%;
}

.content-container {
  min-height: calc(100vh - 64px); /* Full height minus header height */
  box-sizing: border-box;
  padding: 25px;
}

.expanded {
  width: 250px;
}

.collapsed {
  width: 60px;
}
