<mat-sidenav-container autosize>
  <mat-sidenav mode="side"  class="sidebar" [opened]="isExpanded" [class]="isExpanded ? 'sidenav-expanded' : 'sidenav-collapsed'">
    <!-- Sidenav content -->
    <app-sidebar (toggleMenu)="toggleMenu()" [isExpanded]="isExpanded"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [class]="isExpanded ? 'sidenav-content-expanded' : 'sidenav-content-collapsed'">
    <!-- Main content -->
    <div class="content-container">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
