<mat-toolbar>
  <span>
    <a routerLink="/" class="logo-router">
    <img ngSrc="assets/logo.svg" alt="Logo" class="logo" height="39" width="150" priority/>
    </a>
  </span>

  <span class="spacer"></span>
    <ng-container *ifAuthenticated="true">
      @if (!userRoute) {
        <button class="margin-right-16" mat-flat-button routerLink="/user/dashboard">Benutzer-Dashboard</button>
      }
      <div class="user-with-settings">
        <p>{{currentUser?.email}}</p>

        <button mat-icon-button class="mat-menu-button" [matMenuTriggerFor]="menu" aria-label="Settings">
          <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/user/settings">
            <mat-icon>manage_accounts</mat-icon>
            <span>User settings</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>

      </div>
    </ng-container>
    <ng-container *ifAuthenticated="false">
      <button class="margin-right-16" mat-stroked-button routerLink="/login">Login</button>
      <button mat-flat-button routerLink="/signup">Registrieren</button>
    </ng-container>
</mat-toolbar>
