// new header
mat-toolbar {
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
}

.brand-color {
  color: var(--mat-sys-primary);
}

.brand-link {
  user-select: none;
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}



// old header
.logo-router {
  display: inline-block;
  cursor: pointer;
  img {
    transition: transform 0.2s ease;
  }
  &:hover img {
    transform: scale(1.025);
  }
}

.spacer {
  flex: 1 1 auto;
}

.margin-right-16 {
  margin-right: 16px;
}

.mat-menu-button {
  margin: 0 16px 0 4px;
}

.user-with-settings {
  display: flex;
  align-items: center;
  p {
    font-size: 16px;
  }
  button {
    margin-bottom: 2px;
  }
}
