<mat-toolbar>
  <span>
    <a routerLink="/" class="logo-router">
    <img ngSrc="assets/logo.svg" alt="Logo" class="logo" height="39" width="150" priority/>
    </a>
  </span>

  <span class="spacer"></span>
  @if (isLoggedIn) {
    <button class="margin-right-16" mat-stroked-button routerLink="">Features</button>
    <button mat-stroked-button routerLink="/logout" (click)="logout()">Logout</button>
  } @else {
    <button class="margin-right-16" mat-stroked-button routerLink="/login">Login</button>
    <button mat-flat-button routerLink="/signup">Registrieren</button>
  }
</mat-toolbar>
