// new header
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

    .brand-link {
      text-decoration: none;
      color: #000000;
      font-size: 30px;
      font-weight: bold;

      .brand-color {
        color: var(--mat-sys-primary);
      }
    }

  .main-nav {
    display: flex;
    gap: 2.5rem;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.87);
      font-size: 14px;
      transition: color 0.3s ease;
      &:hover {
        color: var(--mat-sys-primary);
        background-color: transparent; // Remove Material hover bg
      }
      &.active-link {
        color: var(--mat-sys-primary);
        font-weight: 500;
      }
    }
  }
  .auth-buttons {
    display: flex;
    gap: 1.25rem;
  }
}


// old header
.logo-router {
  display: inline-block;
  cursor: pointer;
  img {
    transition: transform 0.2s ease;
  }
  &:hover img {
    transform: scale(1.025);
  }
}

.spacer {
  flex: 1 1 auto;
}

.margin-right-16 {
  margin-right: 16px;
}

.mat-menu-button {
  margin: 0 16px 0 4px;
}

.user-with-settings {
  display: flex;
  align-items: center;
  p {
    font-size: 16px;
  }
  button {
    margin-bottom: 2px;
  }
}
