<mat-toolbar>
  <span>
    <a routerLink="/" class="logo-router">
    <img ngSrc="assets/logo.svg" alt="Logo" class="logo" height="39" width="150" priority/>
    </a>
  </span>

  <span class="spacer"></span>
    <ng-container *ifAuthenticated="true">
      <button class="margin-right-16" mat-flat-button routerLink="/user/dashboard">Dashboard</button>
      <button class="margin-right-16" mat-flat-button routerLink="/user/transactions">Transactions</button>
      <button class="margin-right-16" mat-flat-button routerLink="/user/dashboard">Budget</button>
      <div class="user-with-settings">
        <p>{{currentUser?.email}}</p>
        <button class="margin-right-16" mat-icon-button><mat-icon>settings</mat-icon></button>
      </div>
      <button mat-stroked-button (click)="logout()">Logout</button>
    </ng-container>
    <ng-container *ifAuthenticated="false">
      <button class="margin-right-16" mat-stroked-button routerLink="/login">Login</button>
      <button mat-flat-button routerLink="/signup">Registrieren</button>
    </ng-container>
</mat-toolbar>
