body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures that the body always takes at least the full height of the screen */
}

/* Header and footer have a fixed height */
header {
  padding: 10px 20px;
}

footer {
  padding: 10px 20px;
  margin-top: auto; /* The footer is always pushed to the bottom */
}

main {
  flex-grow: 1; /* Ensures that the main section takes up the available space */
  /*
  background-color: white;
  */
  padding: 20px;
}

