<h1>Transaktionen</h1>

<div class="search-container">
  <!-- Search bar -->
  <mat-form-field appearance="outline" class="search-bar-width">
    <mat-label>Suche nach Transaktionen</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Titel, Beschreibung oder Betrag" [(ngModel)]="searchTerm" (ngModelChange)="applySearch()">
  </mat-form-field>

  <!-- Datepicker MM yyyy -->
  <mat-form-field appearance="outline" class="date-picker-field">
    <mat-label>Monat & Jahr</mat-label>
    <input matInput [matDatepicker]="monthYearPicker" [value]="currentDate" readonly>

    <mat-datepicker-toggle matIconSuffix [for]="monthYearPicker"></mat-datepicker-toggle>
    <mat-datepicker #monthYearPicker
                    startView="multi-year"
                    panelClass="month-year-picker"
                    (monthSelected)="onMonthSelected($event, monthYearPicker)">
    </mat-datepicker>
  </mat-form-field>
  <!-- TODO Create pipe to sum transactions.amounts? -->
  <div class="transactions-sum">
    <span>100 €</span>
  </div>
</div>

@if (filteredTransactions.length > 0 && filteredByDateTransactions.length > 0) {
  <div class="transactions-container">
    @for (groupedByDateTransactions of filteredByDateTransactions; track groupedByDateTransactions.date) {
      <mat-card class="date-group">
        <mat-card-header>
          <mat-card-title class="date-title">
            {{ groupedByDateTransactions.date.toFormat('dd.MM.yyyy') }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list>
            @for (transaction of groupedByDateTransactions.transactions; track transaction.id) {
              <mat-list-item class="transaction-item" routerLink="/user/transactions/{{transaction.id}}">
                <div class="transaction-content">
                  <div class="text-content">
                    <span>{{ transaction.title }}</span>
                    @if (transaction.description) {
                      <span class="description mat-body">{{ transaction.description }}</span>
                    }
                  </div>
                  @if (transaction.type === 'income') {
                    <div class="amount income">
                      +{{ transaction.amount }} €
                    </div>
                  } @else if (transaction.type === 'expense') {
                    <div class="amount expense">
                      -{{ transaction.amount }} €
                    </div>
                  }

                </div>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-content>
      </mat-card>
    }
  </div>
} @else {
  <p>No transactions available for this month.</p>
}

<button class="add-new-button" mat-mini-fab routerLink="/user/transactions/new">
  <mat-icon>add</mat-icon>
</button>
