.action-button {
  width: 4.5vh;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.delete-button {
  background-color: var(--mat-sys-error-container);
}

.add-new-button {
  margin: 20px 0 0 30px;
  background-color: var(--mat-sys-primary);
  transition: background-color 0.3s;
}

.manual-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

mat-form-field {
  width: 48%;
}

.expense {
  color: var(--mat-sys-error);
}

.income {
  color: var(--mat-sys-primary);
}
