.action-button {
  width: 4.5vh;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.edit-button {
  background-color: var(--main-primary);
}

.delete-button {
  background-color: var(--main-error);
}

.action-button:hover {
  background-color: var(--main-secondary);
}

.add-new-button {
  margin: 20px 0 0 30px;
  background-color: var(--main-tertiary);
  transition: background-color 0.3s;

  &:hover {
    background-color: #e98b3fd7;
  }
}

.manual-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

mat-form-field {
  width: 48%;
}

.expense {
  color: var(--main-error);
}

.income {
  color: var(--main-primary);
}
