.expanded-button {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 4px;
  width: auto;
  &:hover {
    cursor: pointer;
  }
}

.collapsed-button {

  &:hover {
    cursor: pointer;
  }
}

.button-text {
  font-size: 1rem;
  font-weight: 400;
}

.nav {
  .active-link {
    background-color: var(--main-primary);
  }
  .hover {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transform, border, background-color;
  }
}

a {
  &:hover {
    cursor: pointer;
    background-color: var(--main-secondary);
  }
}
mat-icon {
  color: #000000 !important;
}
