.brand-color {
  color: var(--mat-sys-primary);
}

.brand-with-sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  height: 10dvh;
}

.nav {
/*  .sidebar-action {
    user-select: none;
  }*/
  .active-link {
    background-color: var(--mat-sys-primary);
  }
  a {
    &:hover {
      cursor: pointer;
      transition-duration: 400ms;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: transform, border, background-color;
    }
  }
}

mat-divider {
  border-top-color: var(--mat-sys-surface-variant);
  margin: 4px 0 16px 0;
}
