<mat-nav-list class="nav">
  <a class="sidebar-action" mat-list-item (click)="toggleMenu.emit(null)">
    <mat-icon matListItemIcon>{{ isExpanded ? 'keyboard_backspace' : 'menu' }}</mat-icon>
    @if (isExpanded) {
      Collapse sidebar
    }
  </a>

  <mat-divider></mat-divider>

  @for (link of LINK_LIST; track link.label) {
    <a mat-list-item [routerLink]="link.path" routerLinkActive="active-link">
      <mat-icon matListItemIcon [matTooltip]="!isExpanded ? link.label : null" matTooltipPosition="right">{{ link.matIcon }}</mat-icon>
      @if (isExpanded) {
        {{ link.label }}
      }
    </a>
  }
</mat-nav-list>
