<div class="brand-with-sidebar-toggle">
  @if (isExpanded) {
    <h2><span class="brand-color">Budg</span>ext</h2>
  }
  <button mat-icon-button (click)="toggleMenu.emit(null)">
    <mat-icon>{{ isExpanded ? 'keyboard_backspace' : 'menu' }}</mat-icon>
  </button>
</div>
<mat-nav-list class="nav">
  @for (link of LINK_LIST; track link.label) {
    <a mat-list-item [routerLink]="link.path" routerLinkActive="active-link">
      <mat-icon matListItemIcon [matTooltip]="!isExpanded ? link.label : null" matTooltipPosition="right">{{ link.matIcon }}</mat-icon>
      @if (isExpanded) {
        {{ link.label }}
      }
    </a>
  }
</mat-nav-list>
