<div class="container">
  @if (formGroup) {
    <mat-card [formGroup]="formGroup">
      <h3>Benutzereinstellungen ändern</h3>

      @if (formGroup.get('createdAt')?.value) {
        <div class="creation-date">
          <mat-icon>schedule</mat-icon>
          <span>
            Account erstellt am {{formGroup.get('createdAt')?.value?.toFormat('dd.MM.yyyy')}}
            <br>
            um {{formGroup.get('createdAt')?.value?.toFormat('HH:mm')}} Uhr
          </span>
        </div>
      }

      <mat-form-field appearance="fill">
        <mat-label>E-Mail</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter email" required>
        @if (formGroup.get('email')?.hasError('required')) {
          <mat-error>E-Mail eingeben</mat-error>
        } @else if (formGroup.get('email')?.hasError('email')) {
          <mat-error>Bitte gültige E-Mail eingeben</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Firstname</mat-label>
        <input matInput type="text" formControlName="firstname" placeholder="Enter firstname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Lastname</mat-label>
        <input matInput type="text" formControlName="lastname" placeholder="Enter lastname">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Display name</mat-label>
        <input matInput type="text" formControlName="displayName" placeholder="Enter display name">
      </mat-form-field>

      <button mat-flat-button [disabled]="formGroup.invalid || !formGroup.dirty" (click)="updateUserSettings()">Speichern</button>
    </mat-card>
  } @else {
    <p>Getting User failed!</p>
  }
  @if (passwordControl) {
    <mat-card>
      <h3>Passwort ändern</h3>
      <mat-form-field appearance="fill">
        <mat-label>Passwort</mat-label>
        <input matInput type="password" [formControl]="passwordControl" placeholder="Enter new password" required>
        @if (passwordControl.hasError('required')) {
          <mat-error>Passwort zum Ändern eingeben</mat-error>
        }
      </mat-form-field>
      <button mat-flat-button [disabled]="passwordControl.invalid" (click)="changeUserPassword()">Passwort aktualisieren</button>
    </mat-card>
  } @else {
    <p>Getting User password failed!</p>
  }
</div>
